  body {
            margin: 0;
            padding: 0;
            background-color: #e3e3e3;
            font-family: sans-serif;
                margin: auto;
                width: 600px;
            
        }
            
            blockquote {
                border: 2px white solid;
                text-align: center;
                margin-left: 0;
                height: 30px;
                padding-top: 15px;
                
            }
        
